@keyframes slide-in-top {
	from {
		transform: translateY(-100%);
		opacity: 0;
	}
	to {
		transform: translateY(0);
		opacity: 1;
	}
}


@keyframes slide-in-bottom {
	from {
		transform: translateY(100%);
		opacity: 0;
	}
	to {
		transform: translateY(0);
		opacity: 1;
	}
}


@keyframes slide-in-right {
	from {
		transform: translateX(100%);
		opacity: 0;
	}
	to {
		transform: translateX(0);
		opacity: 1;
	}
}

@keyframes slide-in-left {
	from {
		transform: translateX(-100%);
		opacity: 0;
	}
	to {
		transform: translateX(0);
		opacity: 1;
	}
}


@keyframes fade-in {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.animate-fade-in {
	animation: fade-in 0.5s;
}
.animate-slide-in-top {
	animation: slide-in-top 0.5s;
}
.animate-slide-in-bottom {
	animation: slide-in-bottom 0.5s;
}
.animate-slide-in-right {
	animation: slide-in-right 0.25s;
}
.animate-slide-in-left {
	animation: slide-in-left 0.25s;
}