@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));

:root {
	--background: hsl(210 20% 98%);
	--foreground: hsl(222 47% 11%);
	--card: hsl(0 0% 100%);
	--primary: hsl(205 90% 50%);
	--secondary: hsl(215 16% 47%);
	--text-primary: hsl(222 47% 11%);
	--text-secondary: hsl(215 16% 47%);
	--border: hsl(214 32% 91%);
	--warning: hsl(38 92% 50%);
	--error: hsl(0 84% 60%);
	--success: hsl(142 71% 45%);
}

.dark {
	--background: hsl(222 47% 11%);
	--foreground: hsl(210 20% 98%);
	--card: hsl(222 47% 15%);
	--primary: hsl(205 90% 65%);
	--secondary: hsl(217 19% 27%);
	--text-primary: hsl(0 0% 100%);
	--text-secondary: hsl(215 20% 65%);
	--border: hsl(217 19% 27%);
	--warning: hsl(48 96% 89%);
	--error: hsl(0 93% 80%);
	--success: hsl(142 76% 80%);
}

.container {
	@apply flex-1 p-4 md:p-10 max-w-7xl mx-auto w-full;
}

@layer base {
	*,
	::before,
	::after,
	::placeholder {
		@apply transition-colors duration-300 ease-in-out;
	}

	button {
		@apply cursor-pointer hover:scale-105 active:scale-100;
	}

	input {
		@apply bg-card border border-border rounded-lg focus:outline-none focus:ring-2 focus:ring-primary text-text-primary placeholder-text-primary hover:ring-2 hover:ring-primary/50 transition mb-2 p-2 placeholder:text-xs placeholder:font-normal;
	}
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-card: var(--card);
	--color-primary: var(--primary);
	--color-secondary: var(--secondary);
	--color-text-primary: var(--text-primary);
	--color-text-secondary: var(--text-secondary);
	--color-border: var(--border);
	--color-warning: var(--warning);
	--color-error: var(--error);
	--color-success: var(--success);
}

html,
body {
	background: var(--background);
	color: var(--foreground);
	font-family: Arial, Helvetica, sans-serif;
	scrollbar-width: auto;
	scrollbar-color: var(--primary) transparent;
}
