@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

:root {
	--background: hsl(210 20% 98%);
	--foreground: hsl(222 47% 11%);
	--card: hsl(0 0% 100%);
	--primary: hsl(243 75% 59%);
	--secondary: hsl(215 16% 47%);
	--text-primary: hsl(222 47% 11%);
	--text-secondary: hsl(215 16% 47%);
	--border: hsl(214 32% 91%);
	--warning: hsl(38 92% 50%);
	--error: hsl(0 84% 60%);
	--success: hsl(142 71% 45%);

	--background-dark: hsl(222 47% 11%);
	--foreground-dark: hsl(210 20% 98%);
	--card-dark: hsl(222 47% 15%);
	--primary-dark: hsl(243 75% 70%);
	--secondary-dark: hsl(217 19% 27%);
	--text-primary-dark: hsl(0 0% 100%);
	--text-secondary-dark: hsl(215 20% 65%);
	--border-dark: hsl(217 19% 27%);
	--warning-dark: hsl(48 96% 89%);
	--error-dark: hsl(0 93% 80%);
	--success-dark: hsl(142 76% 80%);
}
@layer base {
	*, ::before, ::after, ::placeholder {
		@apply transition-colors duration-300 ease-in-out;
	}

	button {
		@apply cursor-pointer hover:scale-105 active:scale-100
	}

	input {
		@apply bg-card dark:bg-card-dark border border-border dark:border-border-dark rounded-lg focus:outline-none focus:ring-2 focus:ring-primary text-text-primary dark:text-text-primary-dark placeholder-text-primary dark:placeholder-text-primary-dark hover:ring-2 hover:ring-primary/50 transition mb-2 p-2
	}
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-card: var(--card);
	--color-primary: var(--primary);
	--color-secondary: var(--secondary);
	--color-text-primary: var(--text-primary);
	--color-text-secondary: var(--text-secondary);
	--color-border: var(--border);
	--color-warning: var(--warning);
	--color-error: var(--error);
	--color-success: var(--success);

	--color-background-dark: var(--background-dark);
	--color-foreground-dark: var(--foreground-dark);
	--color-card-dark: var(--card-dark);
	--color-primary-dark: var(--primary-dark);
	--color-secondary-dark: var(--secondary-dark);
	--color-text-primary-dark: var(--text-primary-dark);
	--color-text-secondary-dark: var(--text-secondary-dark);
	--color-border-dark: var(--border-dark);
	--color-warning-dark: var(--warning-dark);
	--color-error-dark: var(--error-dark);
	--color-success-dark: var(--success-dark);
}


body {
	background: var(--background);
	color: var(--foreground);
	font-family: Arial, Helvetica, sans-serif;
}
